<div>
  <h2>Lista de Recetas</h2>
  <div>
    <table>

      <tbody>
        @for(recipe of recipies; track recipe.id){
        <tr [routerLink]="['/recipe', recipe.id]" class = "clickable-row">
          <td>{{ recipe.nombre }}</td>
          <td>
            <img
              class="recipe-img"
              [src]="recipe.imagen"
              alt="{{ recipe.imagen }}"
            />
          </td>
          <td>{{ recipe.porciones }}</td>
          <td>{{ recipe.tiempo_minutos }} min</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
