
    <div class="container-fluid mb-4">
      <tbody>
        <div class="row">
          @for(recipe of recipies; track recipe.id){
          <div class="col">
            <div class="card mb-3 p-3" style="width: 340px; height: 600px; ">
            
                <img
                  class="d-block mx-auto img-fluid"
                  [src]="recipe.imagen"
                  alt="{{ recipe.imagen }}"
                />
                <h3 style="font-weight: bold">{{ recipe.nombre }}</h3>
                <ul>
                  @for(etiqueta of recipe.etiquetas; track etiqueta){
                  <li>{{etiqueta}}</li>
                  }
                </ul>
                
                <td><strong>Porciones: </strong>{{recipe.porciones}}</td>
                <td><strong># Ingredientes: </strong>{{recipe.ingredientes.length}}</td>
              <div class="text-left" ><button [routerLink]="['/recipe', recipe.id]" type="button" class = "btn btn-outline-primary mt-3">Ver la receta</button></div>
            </div>
          </div>
        }
        </div>
      </tbody>
    </div>
